.advantages__wrapper {
  max-width: 320px;
}

.advantages__points {
  background-color: #81b3d2;
  padding-top: 54px;
  padding-bottom: 40px;
  margin: 0;

  &--features {
    background-color: #eeeeee;
    padding-top: 0;
  }
}

.advantages-images {
  display: block;
}

.advantages__list {
  padding: 0;
  padding-top: 23px;
  padding-bottom: 46px;
  margin: 0;
  list-style-type: none;

  &--features {
    background-color: #eeeeee;
    padding-top: 24px;
    padding-bottom: 28px;
  }
}

.advantages__name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &--features {
    color: #000000;
  }
}

.advantages__number {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 17px;

  &--features {
    color: #333333;
  }
}

.advantages__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  &--features {
    color: #333333;
  }
}

.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.advantages__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .advantages__points {
    width: 256px;
    min-height: 256px;
    margin: 0;
    padding: 0;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    min-height: 256px;
    margin: 0;
    padding: 0;
  }

  .advantages__item {
    display: block;
    width: 256px;
    text-align: center;
    min-height: 331px;
  }

  .advantages__places {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    min-height: 256px;
    margin: 0;
    padding: 0;
  }

  .advantages__places-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {
  .advantages__points {
    width: 400px;
    margin: 0;
    padding: 0;
  }

  .advantages__list {
    width: 1200px;
  }

  .advantages__item {
    width: 400px;
    text-align: center;
    min-height: 330px;
  }

  .advantages__places {
    width: 1200px;
  }
}
