.contacts {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 59px;
}

.contacts__name {
  margin-bottom: 64px;
}

.contacts__form {
  padding-top: 20px;
  padding-bottom: 0;
}

.contacts__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    width: 648px;
    margin-top: 102px;
    margin-bottom: 63px;
    margin-left: 60px;
  }

  .contacts__name {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 21px;
    line-height: 26px;
  }

  .contacts__title-name {
    padding-left: 43px;
  }

  .contacts__title-data {
    position: relative;
    padding-left: 53px;
  }

  .contacts__title-data::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 45px;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }

  .contacts__form-data {
    padding-left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 960px;
    margin-top: 67px;
    margin-bottom: 71px;
    margin-left: 120px;
  }

  .contacts__title-name {
    padding-left: 72px;
  }

  .contacts__title-data::before {
    left: 62px;
  }

  .contacts__form-data {
    padding-left: 125px;
  }
}
