.feedback__wrapper {
  padding: 36px 20px;
  padding-bottom: 28px;
}

.feedback__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.feedback__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    padding: 64px 166px;
    padding-bottom: 102px;
  }

  .feedback__title {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    padding: 115px 382px;
    padding-bottom: 67px;
  }

  .feedback__title {
    margin-bottom: 30px;
  }
}
