.images__wrapper {
  width: 280px;
  margin-left: 20px;
}

.images__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.images__title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.images__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin: 0;
}

.images__raiting {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .images__wrapper {
    width: 648px;
    margin-left: 60px;
  }

  .images__list {
    display: grid;
    grid-template-columns: 324px 324px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .images__item--first {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-width: @desktop-width) {
  .images__wrapper {
    width: 1200px;
    margin: 0;
  }

  .images__list {
    grid-template-columns: 400px 400px 400px;
    background-color: #f2f2f2;
  }

  .images__item--first {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}
