.impressions__wrapper {
  position: relative;
  width: 280px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 59px;
}

@media (max-width: @mobile-width-only) {
  .impressions__wrapper::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: -25px;
    left: -20px;
    background-color: #e5e5e5;
  }
}

.impressions__group {
  border: none;
  padding-bottom: 0;
}

.impressions__list {
  list-style-type: none;
  margin: 0;
}

.impressions__item:not(:last-child) {
  padding-bottom: 30px;
}

.impressions__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}

.control__label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .impressions__wrapper {
    width: 648px;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 48px;
  }

  .impressions__group {
    width: 648px;
    padding: 0;
  }

  .impressions__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 34px;
  }

  .impressions__wrapper::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    left: 0;
  }

  .impressions__wrapper::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    right: 0;
  }

  .impressions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 56px;
    margin-right: 0;
  }

  .impressions__item {
    width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .impressions__wrapper {
    width: 960px;
    margin: 0;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 51px;
  }

  .impressions__group {
    width: 960px;
  }

  .impressions__title {
    margin-bottom: 52px;
  }

  .impressions__list {
    margin-left: 68px;
  }

  .impressions__wrapper::before {
    width: 280px;
  }

  .impressions__wrapper::after {
    width: 280px;
  }

  .impressions__item {
    width: 236px;
  }
}
