.intro__wrapper {
  margin-top: 30px;
  margin-bottom: 42px;
}

.intro__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.intro__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    width: 458px;
    margin-top: 66px;
    margin-bottom: 67px;
    margin-left: 155px;
  }
}

@media (min-width: @desktop-width) {
  .intro__wrapper {
    margin-top: 100px;
    margin-bottom: 65px;
    margin-left: 370px;
  }
}
