.intro__wrapper {
  width: 280px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.intro__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}

.intro__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .intro__wrapper {
    width: 446px;
    margin-top: 66px;
    margin-bottom: 85px;
    margin-left: 161px;
  }

  .intro__title {
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .intro__wrapper {
    margin-top: 100px;
    margin-bottom: 88px;
    margin-left: 370px;
  }
}
