.main-footer__wrapper {
  padding: 29px 82px;
  padding-bottom: 22px;
}

.main-footer__tag {
  display: block;
  text-align: center;
  margin-bottom: 33px;
}

.main-footer__tag-text {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 76px;
    padding-left: 61px;
  }

  .main-footer__tag {
    margin: 0;
    margin-top: 5px;
  }

  .social__item:not(:last-child) {
    margin-right: 6px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    padding: 36px 136px;
    padding-left: 116px;
  }
}
