.video__wrapper {
  margin-bottom: 38px;
}

.video__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.video__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    width: 445px;
    margin-top: 62px;
    margin-bottom: 70px;
    margin-left: 161px;
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper {
    margin-bottom: 64px;
    margin-left: 377px;
  }
}
