.main-header {
  position: relative;
  display: flex;
  background-color: #ffffff;
  width: 320px;
  min-height: 56px;
  margin: 0;
}
.main-header__logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 185px;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  min-height: 56px;
}
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 21px;
  z-index: 4;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
}
.main-nav--opened .main-nav__toggle {
  background-color: #81b3d2;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 320px;
    height: 7px;
    box-shadow: inset 0 0 7px -2px rgba(0, 0, 0, 0.2);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 768px;
    padding: 0;
    margin: 0;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1200px;
    padding: 0;
    margin: 0;
  }
  .main-nav__toggle {
    display: none;
  }
}
.site-list a {
  display: block;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  padding-right: 70px;
  padding-left: 70px;
  max-width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    grid-template-columns: 153px 153px 153px 153px 153px;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .site-list__item {
    padding-top: 18px;
  }
  .site-list__item--main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .site-list__item--photo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .site-list__item--feedback {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .site-list__item--academy {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
  .site-list a {
    display: block;
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    font-weight: 700;
    border-bottom: none;
  }
  .site-list .site-list__item--current a {
    color: #766357;
  }
  .site-list a:hover {
    color: #81b3d2;
  }
  .site-list a:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .site-list {
    grid-template-columns: 240px 240px 240px 240px 240px;
  }
}
.characteristics {
  padding: 32px 25px;
}
.characteristics__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.characteristics__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .characteristics {
    padding: 47px 0;
    padding-bottom: 55px;
  }
  .characteristics__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 124px;
    max-width: 520px;
  }
  .characteristics__title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .characteristics {
    padding: 59px 0;
    padding-bottom: 44px;
  }
  .characteristics__wrapper {
    max-width: 484px;
    margin: 0 358px;
  }
}
.advantages__points {
  position: relative;
  background-color: #81b3d2;
  padding: 37px 18px;
  margin: 0;
}
.advantages__points--features {
  background-color: #eeeeee;
  padding: 0;
  padding-bottom: 24px;
  margin-bottom: 27px;
}
.advantages__points--features:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.advantages__points--first {
  padding-bottom: 40px;
  padding-top: 51px;
}
@media (max-width: 767px) {
  .advantages__points--first::before {
    position: absolute;
    top: -21px;
    left: 0;
    content: url("../img/divider.svg");
  }
  .advantages__points--features:not(:last-child) {
    display: block;
    border-bottom: 1px solid #d6d6d6;
    width: 284px;
  }
}
.advantages__images {
  display: block;
  width: 100%;
  height: auto;
}
.advantages__list {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 44px;
  list-style-type: none;
}
.advantages__list--features {
  background-color: #eeeeee;
  margin: 0;
  padding: 30px 18px;
  padding-bottom: 28px;
}
.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  padding-left: 65px;
  margin-bottom: 33px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item--home::before {
  position: absolute;
  top: -9px;
  left: 15px;
  content: url("../img/home-icon.svg");
}
.advantages__item--food::before {
  position: absolute;
  top: -9px;
  left: 15px;
  content: url("../img/food-icon.svg");
}
.advantages__item--present::before {
  position: absolute;
  top: -9px;
  left: 15px;
  content: url("../img/present-icon.svg");
}
.advantages__name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.advantages__name--features {
  color: #000000;
}
.advantages__number {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 17px;
}
.advantages__number--features {
  color: #333333;
}
.advantages__text {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.advantages__text--features {
  margin: 0 19px;
  color: #333333;
}
.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}
.advantages__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__points {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 52px 33px;
    padding-bottom: 31px;
    margin: 0;
    max-width: 256px;
  }
  .advantages__points--features {
    padding: 56px 33px;
  }
  .advantages__points--features:last-child {
    padding-bottom: 56px;
  }
  .advantages__name {
    display: block;
    font-size: 21px;
    line-height: 26px;
  }
  .advantages__name--features {
    margin-left: 40px;
    margin-right: 40px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    padding: 0;
    margin: 0;
  }
  .advantages__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
    padding: 158px 44px;
    padding-bottom: 62px;
    margin: 0;
    max-width: 256px;
  }
  .advantages__item--home::before {
    top: 61px;
    left: 0;
    right: 0;
    content: url("../img/home-icon-tablet.svg");
  }
  .advantages__item--food::before {
    top: 61px;
    left: 0;
    right: 0;
    content: url("../img/food-icon-tablet.svg");
  }
  .advantages__item--present::before {
    top: 61px;
    left: 0;
    right: 0;
    content: url("../img/present-icon-tablet.svg");
  }
  .advantages__places {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    min-height: 256px;
    margin: 0;
    padding: 0;
  }
  .advantages__places-reverse {
    flex-direction: row-reverse;
  }
  .advantages__text {
    padding: 0;
  }
  .advantages__text--features {
    margin: 0;
  }
  .advantages__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .advantages__points {
    max-width: 400px;
    margin: 0;
    padding: 52px 78px;
  }
  .advantages__points--features {
    width: 400px;
    padding: 63px 50px;
    padding-bottom: 41px;
  }
  .advantages__points--first {
    padding: 52px 55px;
  }
  .advantages__name--first {
    margin-left: 40px;
    margin-right: 40px;
  }
  .advantages__name--features {
    margin-left: 80px;
    margin-right: 80px;
  }
  .advantages__number--features {
    margin-bottom: 23px;
  }
  .advantages__content {
    width: 220px;
  }
  .advantages__describe {
    width: 270px;
  }
  .advantages__list {
    width: 1200px;
  }
  .advantages__item {
    padding: 169px 50px;
    padding-bottom: 71px;
    max-width: 400px;
  }
  .advantages__item--home::before {
    top: 69px;
  }
  .advantages__item--food::before {
    top: 69px;
  }
  .advantages__item--present::before {
    top: 69px;
  }
  .advantages__places {
    width: 1200px;
  }
}
.hero {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 90px;
  background-color: #808080;
  background-image: url("../img/divider-mobile.svg"), url("../img/back-mobile.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  min-height: 389px;
  width: 320px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  background-image: url("../img/back-mobile@2x.jpg");
  background-size: 1338px auto;
}
.hero__logo {
  margin: 0;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/divider-tablet.svg"), url("../img/back-tablet.jpg");
    min-height: 518px;
    width: 768px;
  }
  .logo {
    width: 460px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url("../img/divider-desktop.svg"), url("../img/back-desktop.jpg");
    min-height: 518px;
    width: 1200px;
  }
}
.search {
  padding: 38px 18px;
  padding-bottom: 49px;
}
.search__title {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.search__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 32px;
}
.search__hotel {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 49px;
  text-decoration: none;
}
.search__hotel:hover {
  background-color: #669ec0;
}
.search__hotel:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search-hotel:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
@media (min-width: 768px) {
  .search {
    padding: 61px 0;
    padding-bottom: 58px;
  }
  .search__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 155px;
    max-width: 458px;
  }
  .search__text {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .search__title {
    font-size: 30px;
    line-height: 26px;
  }
  .search__hotel {
    padding: 16px 136px;
  }
}
@media (min-width: 1200px) {
  .search {
    padding: 61px 0;
    padding-bottom: 66px;
  }
  .search__wrapper {
    margin: 0 371px;
  }
  .search__text {
    margin-bottom: 45px;
  }
}
.map__wrapper {
  background-color: #ffffff;
  margin-bottom: 5px;
}
.map__images {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .map__wrapper {
    margin-bottom: 0;
  }
}
.main-footer {
  padding: 29px 0;
  padding-bottom: 22px;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}
.main-footer__tag {
  display: block;
  text-align: center;
  margin-bottom: 33px;
}
.main-footer__tag-text {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 36px 0;
  }
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 61px;
    margin-right: 76px;
  }
  .main-footer__tag {
    margin: 0;
    margin-top: 5px;
  }
  .social__item:not(:last-child) {
    margin-right: 6px;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    margin-left: 116px;
    margin-right: 136px;
  }
}
.hero-catalog {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #808080;
  background-image: url("../img/divider-mobile.svg"), url("../img/back-catalog-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  min-height: 158px;
  width: 320px;
  background-position: center bottom, 50% -55px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  background-image: url("../img/back-catalog-mobile@2x.jpg");
  background-size: 1338px auto;
}
.hero-catalog__logo {
  margin: 0;
  padding-top: 52px;
}
@media (min-width: 768px) {
  .hero-catalog {
    background-image: url("../img/divider-tablet.svg"), url("../img/back-catalog-tablet.jpg");
    min-height: 290px;
    width: 768px;
  }
  .hero-catalog__logo {
    padding-top: 95px;
  }
  .hero-catalog__images {
    width: 457px;
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .hero-catalog {
    background-image: url("../img/divider-desktop.svg"), url("../img/back-catalog-desktop.jpg");
    min-height: 301px;
    width: 1200px;
  }
  .hero-catalog__logo {
    padding-top: 101px;
  }
  .hero-catalog__images {
    width: 460px;
    height: 80px;
  }
}
.intro__wrapper {
  padding: 30px 20px;
  padding-bottom: 36px;
}
.intro__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}
.intro__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .intro__wrapper {
    padding: 66px 161px;
    padding-bottom: 70px;
  }
  .intro__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper {
    padding: 100px 377px;
    padding-bottom: 88px;
  }
}
.images__wrapper {
  padding: 24px 20px;
}
.images__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.images__item:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .images__item {
    position: relative;
  }
  .images__item::before {
    position: absolute;
    content: "";
    top: -24px;
    right: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}
.images__photo {
  display: block;
  width: 100%;
  height: auto;
}
.images__title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.images__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-bottom: 18px;
}
.images__raiting {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 700;
  margin: 0;
  padding-left: 40px;
}
.images__raiting::before {
  position: absolute;
  content: url("../img/like-icon.svg");
  top: -5px;
  left: 0;
}
@media (min-width: 768px) {
  .images__wrapper {
    padding: 0 60px;
  }
  .images__list {
    display: grid;
    grid-template-columns: 324px 324px;
    margin: 0;
    padding: 0;
  }
  .images__item--first {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .images__item {
    margin: 0;
    background-color: #f2f2f2;
  }
  .images__item--photo-3 {
    background-color: #eaeaea;
  }
  .images__item:not(:last-child) {
    margin-bottom: 0;
  }
  .images__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    padding-bottom: 15px;
  }
  .images__title {
    margin-top: 0;
  }
  .images__text {
    margin-bottom: 0;
  }
  .images__raiting::before {
    top: -4px;
    left: 8px;
  }
}
@media (min-width: 1200px) {
  .images__wrapper {
    padding: 0;
  }
  .images__list {
    grid-template-columns: 400px 400px 400px;
    background-color: #f2f2f2;
  }
  .images__item {
    position: relative;
  }
  .images__item--first {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .images__content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 22px;
    padding-bottom: 15px;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .images__title {
    color: #ffffff;
  }
  .images__text {
    color: #ffffff;
  }
  .images__raiting {
    color: #ffffff;
  }
  .images__raiting::before {
    content: url("../img/like-icon-white.svg");
  }
  .images__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.video {
  position: relative;
  padding: 18px 28px;
  padding-bottom: 38px;
}
.video__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.video__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
@media (max-width: 767px) {
  .video__wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}
@media (min-width: 768px) {
  .video {
    padding: 62px 0;
    padding-bottom: 89px;
  }
  .video__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    margin: 0 161px;
  }
  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  video {
    padding: 66px 0;
    padding-bottom: 83px;
  }
  .video__wrapper {
    margin: 0 377px;
  }
}
.feedback {
  padding: 36px 20px;
  padding-bottom: 28px;
}
.feedback__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.feedback__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .feedback {
    padding: 64px 0;
    padding-bottom: 102px;
  }
  .feedback__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 435px;
    margin: 0 166px;
  }
  .feedback__title {
    font-size: 30px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 115px 0;
    padding-bottom: 67px;
  }
  .feedback__wrapper {
    max-width: 434px;
    margin: 0 382px;
  }
  .feedback__title {
    margin-bottom: 30px;
  }
}
.contacts {
  padding: 0 20px;
  padding-bottom: 32px;
}
.contacts__name {
  padding-top: 28px;
  padding-bottom: 38px;
}
.contacts__data {
  padding-top: 28px;
}
.contacts__form {
  margin-top: 20px;
  margin-bottom: 0;
}
.contacts__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    margin: 0 60px;
    padding: 0;
    padding-bottom: 63px;
  }
  .contacts__name {
    padding-top: 0;
    padding-bottom: 0;
  }
  .contacts__data {
    position: relative;
    padding-top: 0;
  }
  .contacts__title {
    font-size: 21px;
    line-height: 26px;
  }
  .contacts__title-name {
    margin-left: 43px;
  }
  .contacts__title-data {
    margin-left: 53px;
  }
  .contacts__data::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 45px;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }
  .contacts__form-data {
    margin-left: 90px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    margin: 0 120px;
    padding: 0;
    padding-bottom: 71px;
  }
  .contacts__title-name {
    margin-left: 72px;
  }
  .contacts__data::before {
    left: 62px;
  }
  .contacts__form-data {
    margin-left: 125px;
  }
}
.impressions {
  position: relative;
  padding: 28px 27px;
  padding-bottom: 37px;
}
@media (max-width: 767px) {
  .impressions__wrapper::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
  }
}
.impressions__group {
  border: none;
  padding-bottom: 0;
}
.impressions__list {
  list-style-type: none;
  margin: 0;
}
.impressions__item:not(:last-child) {
  margin-bottom: 35px;
}
.impressions__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}
.control__label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .impressions {
    padding: 0;
    padding-bottom: 58px;
  }
  .impressions__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 548px;
    margin: 0 60px;
  }
  .impressions__group {
    width: 648px;
    padding: 0;
  }
  .impressions__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 34px;
  }
  .impressions__wrapper::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    left: 60px;
  }
  .impressions__wrapper::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    right: 60px;
  }
  .impressions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 56px;
    margin-right: 0;
  }
  .impressions__item {
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .impressions {
    padding: 0;
    padding-bottom: 49px;
  }
  .impressions__wrapper {
    max-width: 960px;
    margin: 0 120px;
  }
  .impressions__group {
    width: 960px;
  }
  .impressions__title {
    margin-bottom: 52px;
  }
  .impressions__list {
    margin-left: 68px;
  }
  .impressions__wrapper::before {
    width: 280px;
    left: 120px;
  }
  .impressions__wrapper::after {
    width: 280px;
    right: 120px;
  }
  .impressions__item {
    width: 236px;
  }
}
.visits {
  position: relative;
  padding: 25px 28px;
  padding-bottom: 26px;
}
@media (max-width: 767px) {
  .visits__wrapper::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
  }
}
.visits__group {
  border: none;
}
.visits__list {
  list-style-type: none;
  margin: 0;
}
.visits__item:not(:last-child) {
  margin-bottom: 36px;
}
.visits__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .visits {
    padding: 0;
    padding-bottom: 20px;
  }
  .visits__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 648px;
    margin: 0 60px;
  }
  .visits__group {
    width: 648px;
    padding: 0;
  }
  .visits__title {
    display: block;
    width: 308px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 35px;
  }
  .visits__wrapper::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 25px;
    left: 60px;
  }
  .visits__wrapper::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 25px;
    right: 60px;
  }
  .visits__list {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 104px;
  }
  .visits__item {
    width: 224px;
  }
}
@media (min-width: 1200px) {
  .visits {
    padding: 0;
    padding-bottom: 56px;
  }
  .visits__wrapper {
    max-width: 960px;
    margin: 0 120px;
  }
  .visits__group {
    width: 857px;
  }
  .visits__title {
    margin-left: 10px;
    margin-bottom: 66px;
  }
  .visits__list {
    width: 832px;
    margin-left: 63px;
  }
  .visits__item {
    width: 140px;
  }
  .visits__item:nth-child(1),
  .visits__item:nth-child(2) {
    margin-right: 40px;
  }
  .visits__item:nth-child(3) {
    margin-right: 20px;
  }
  .visits__wrapper::before {
    width: 280px;
    left: 120px;
  }
  .visits__wrapper::after {
    width: 280px;
    right: 120px;
  }
}
.comment {
  position: relative;
  padding: 24px 20px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .comment__wrapper::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
  }
}
.comment__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.comment__input {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  border: none;
  width: 279px;
  height: 150px;
  margin: 0;
  margin-bottom: 56px;
  padding: 16px 16px;
}
.comment__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.comment__button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 49px;
  text-decoration: none;
  border: none;
  width: 280px;
  margin-bottom: 3px;
}
.comment__text {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-left: 142px;
  padding: 0;
}
@media (min-width: 768px) {
  .comment {
    padding: 0;
    padding-bottom: 65px;
  }
  .comment__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 648px;
    margin: 0 60px;
  }
  .comment__wrapper::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    left: 60px;
  }
  .comment__wrapper::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 10px;
    right: 60px;
  }
  .comment__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
  }
  .comment__input {
    width: 648px;
    height: 160px;
    margin-bottom: 48px;
  }
  .comment__button-group {
    display: flex;
    justify-content: space-between;
  }
  .comment__button {
    width: 324px;
  }
  .comment__text {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-top: 23px;
  }
}
@media (min-width: 1200px) {
  .comment {
    padding: 0;
    padding-bottom: 65px;
  }
  .comment__wrapper {
    max-width: 960px;
    margin: 0 120px;
  }
  .comment__wrapper::before {
    width: 280px;
    left: 120px;
  }
  .comment__wrapper::after {
    width: 280px;
    right: 120px;
  }
  .comment__input {
    width: 768px;
    margin-left: 96px;
  }
  .comment__button {
    width: 384px;
    margin-left: 96px;
  }
  .comment__text {
    margin-left: 0;
    margin-right: 94px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
}
.modal--error {
  display: none;
}
.modal--success {
  display: none;
}
.modal__wrapper {
  position: relative;
  margin: auto;
  width: 320px;
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 35px;
}
.modal__wrapper--success {
  padding-bottom: 0;
}
.modal__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}
.modal__text {
  display: block;
  width: 237px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  margin-left: 41px;
}
.modal__text--success {
  padding-bottom: 44px;
}
.modal__button-wrapper {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
}
.modal__button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 64px;
  text-decoration: none;
  border: none;
  width: 180px;
  margin-left: 70px;
  margin-right: 70px;
}
.modal__button--success {
  width: 280px;
  margin: 0;
}
@media (min-width: 768px) {
  .modal__wrapper {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 49px;
  }
  .modal__title {
    display: block;
    width: 247px;
    margin-left: 76px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal__text {
    width: 307px;
    margin-left: 46px;
    padding-bottom: 50px;
  }
  .modal__button {
    width: 272px;
    margin-left: 64px;
  }
  .modal__wrapper--success {
    width: 640px;
    padding-top: 43px;
    padding-bottom: 0;
  }
  .modal__title--success {
    width: 444px;
    margin-left: 97px;
  }
  .modal__text--success {
    width: 444px;
    margin-left: 97px;
  }
  .modal__button-wrapper {
    padding: 44px 91px;
  }
  .modal__button--success {
    width: 458px;
    margin-left: 0;
  }
}
.presentation__wrapper {
  display: block;
  padding: 0 20px;
}
.presentation__video {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .presentation__wrapper {
    padding: 0 60px;
    padding-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .presentation__wrapper {
    padding: 0 200px;
    padding-bottom: 85px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__item:not(:last-child) {
  margin-right: 6px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
}
.social__icon {
  fill: #ffffff;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active .social__icon {
  fill: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .social__list {
    margin-left: 0;
  }
}
.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.copyright__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 12px;
}
.copyright__link:hover {
  fill: #81b3d2;
}
.copyright__text:hover {
  color: #81b3d2;
}
.copyright__link:active {
  fill: #b3b3b3;
}
.copyright__text:active {
  color: #b3b3b3;
}
@media (min-width: 768px) {
  .copyright a {
    margin: 0;
  }
}
.form-contacts__label {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-left: 16px;
  padding: 0;
}
.form-contacts__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  font-weight: 700;
  margin: 0;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
  border: none;
  width: 260px;
}
.form-contacts__input:hover {
  background-color: #e5e5e5;
}
.form-contacts__input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
.form-contacts__input-name::placeholder {
  color: #000000;
}
.form-contacts__input-data::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form-contacts__field-phone {
  position: relative;
}
.form-contacts__field-phone::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: url("../img/phone.svg");
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}
.form-contacts__field-mail {
  position: relative;
}
.form-contacts__field-mail::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: url("../img/mail.svg");
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}
.form-contacts__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
}
.form-contacts__field:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .form-contacts__input {
    width: 400px;
  }
}
.body-container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .body-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .body-container {
    width: 1200px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}
.main {
  width: 320px;
}
@media (min-width: 768px) {
  .main {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main {
    width: 1200px;
  }
}
.main-catalog {
  width: 320px;
}
@media (min-width: 768px) {
  .main-catalog {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-catalog {
    width: 1200px;
  }
}
@media (max-width: 767px) {
  .settings-name {
    position: relative;
  }
  .settings-name::before {
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}
.control {
  position: relative;
  display: block;
}
.control__mark {
  position: absolute;
  top: -7px;
  left: -61px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}
.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}
.control__input[type="radio"]:hover + .control__mark {
  background-color: #e5e5e5;
}
.control__input[type="radio"]:focus + .control__mark {
  background-color: #e5e5e5;
}
.control__input[type="radio"]:active + .control__mark {
  background-color: #d5d5d5;
}
.control__input[type="checkbox"] + .control__mark {
  border-radius: 4px;
}
.control__input[type="checkbox"]:hover + .control__mark {
  background-color: #e5e5e5;
}
.control__input[type="checkbox"]:focus + .control__mark {
  background-color: #e5e5e5;
}
.control__input[type="checkbox"]:active + .control__mark {
  background-color: #d5d5d5;
}
.control__input[type="checkbox"]:checked + .control__mark {
  position: absolute;
  background-image: url("../img/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  background-color: #e7e5e5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
